button {
    color: #29c0a0;

}
outlines {
    color: #098d71;  

}
a {
    color: #75cdbc;

}
backgrounds {
    color: #cdede6;

}

.ButtonOne {
    margin: 20px;
    background-color: white;
    border-color: #098D71;
    color: #29C090;
}

.ButtonTwo {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    background-color: #098D71;
    border-color: #098D71;
    color: white;
}

.ButtonThree {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    background-color: #098D71;
    border-color: #098D71;
    color: white;
}

.bob {
    margin-top: 30px;
}

.logo {
    margin-top: 10px;
}

