img.banner {
    width: 100%;
}

signin {
    font-size: 100px; 
}

.Input {
    border-radius: 10px;     
    margin-top: 10px; 
}

.InputOne {
    width: 100%;
}

.InputTwo {
    width: 47%;
    margin-right: 5%;
}

.InputThree {
    margin-left: 0px;
    width: 47%;
}

.Button {
    border-radius: 10px; 
    height: 40px;
}

.ButtonOne {
    margin: 20px;
    background-color: white;
    border-color: #098D71;
    color: #29C090;
}

.ButtonTwo {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    background-color: #098D71;
    border-color: #098D71;
    color: white;
}

.ButtonThree {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    background-color: #098D71;
    border-color: #098D71;
    color: white;
}