    .consultation {
        color: white;
        background-color: rgb(248, 66, 39);
        border: none;
        padding: 15px, 30px;
        text-align: center;
    }
    .logo {
        width:69%;
        margin:15px;
    }
    .navbar-nav > li{
        font-size:15px;
        margin:2px;
        padding:2px;
    }
    .navbar-nav > li> a{
        padding:2px;
        margin:2px;
    }