
@font-face {
    font-family: 'AlternateGothicNo2';
    src: url('fonts/alternate-gothic-no2-bt-webfont.eot'); /* IE9 Compat Modes */
    src: url('fonts/alternate-gothic-no2-bt-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/alternate-gothic-no2-bt-webfont.woff') format('woff'), /* Super Modern Browsers */
    url('fonts/alternate-gothic-no2-bt-webfont.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/alternate-gothic-no2-bt-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('fonts/alternate-gothic-no2-bt-webfont.svg#AlternateGothic') format('svg'); /* Legacy iOS */
}
    
.consultation {
    color: white;
    background-color: rgb(248, 66, 39);
    border: none;
    padding: 15px, 30px;
    text-align: center;
}
.logo {
    width:69%;
    margin:15px;
}

.navbar-nav > li> a{
    padding-top:24px;
    padding-bottom:2px;
    margin:1px;
    font-family:AlternateGothicNo2;
    font-size:28px;
    font-color:lightgray;
    }
.btn btn-default{
    width:30px;
}
